/*1.使用变量*/
$them:#ccc;

/*2混入，类似于函数*/
@mixin border-1px($amount) {
  border: $amount solid red;
}

/*2.1也可默认变量的值*/
@mixin border-2px($amount:2px) {
  border: $amount solid red;
}

/*3.placeholder混入一个类*/
%content{
  box-shadow: 0  0 3px red ;
}

body{
  h1{
    color: green;
    background: $them;
    @include border-1px(0.5px);
    @extend %content;
    &:hover{
      color: #000;
    }
    &-p{
      color: #cccccc;
    }
  }
}
